.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black
}


.card {
  border-radius: 30px;
  height: auto;
  max-width: 1080px;
  background-color: white;
  padding: 1rem;
  box-shadow: 2px 2px 8px rgba(red, green, blue, alpha);
}

.classAuthor {
  text-align: end;
  padding-right: 2rem;
}

.icon {
  font-size: 30px;
  color: black
}

h1 {
  text-align: center;
  padding-top: 2rem;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: none;
}

.buttonNext {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
}